@{
  ViewData["Title"] = "Home Page";
}

<div>
  <input id="keywords" type="text" class="form-control" placeholder="Keywords">
</div>

<hr />

<div>
  <div id="miscellaneous-information">
  </div>
  <ul id="documents-list"></ul>
</div>

<div>
  <button id="execute" class="form-control">Execute</button>
</div>

@section Scripts{
  <script>
    $(document).ready(function () {
      $("#execute").on('click',
        function () {
          var keywords = $("#keywords").val();
          var executeVectorialSearchUrl = '@Url.Action("ExecuteVectorialSearch", "Home")';

          $.ajax({
            type: "GET",
            url: executeVectorialSearchUrl,
            data: {input: keywords},
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
              if (response === null || response === undefined) {
                $("#documents-list").empty();
                $("#miscellaneous-information").empty();
                return;
              }
              console.log(response);
              $("#documents-list").empty();
              if (response.documents.length > 0) {
                response.documents.forEach(function(x) {
                  $("#documents-list").append("<li><div>Document: <a href='http://" + x.url + "'>"+x.url+"</a></div><div>Similaritate cosinus: " + x.cosineSimilarity+"</div></li>");
                });
              }
              $("#miscellaneous-information").empty();
              $("#miscellaneous-information").append("<span>Număr de documente: " + response.documentsCount + "</span><br/><span>Milisecunde: " + response.searchElapsedMilliseconds+"</span>");
              console.log(response);
            },
            failure: function (response) {
              alert(response);
            }
          });
        });
    });
  </script>
}
